{% extends 'main.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block style %}
{% endblock %}

{% block container %}
<div class="login-page">
  <div class="container pt-5">
    <div class="container-1 d-flex align-items-center justify-content-between" style="position: relative;">
      <div class="mesg-container m-0" style="position: absolute;">
        {% include 'inc/message.html' %}
      </div>
      <a href="{% url 'home' %}" class="btn btn-outline-primary float-start"><i class='bx bx-left-arrow-alt'></i></a>
      <img class="d-none d-md-block" src="{% static 'img/imgs/L1.png' %}" alt="" width="200px">
    </div>
  </div>
  <div class="container">
    <div class="container d-lg-none mt-5 d-flex align-items-center justify-content-center ">
      <img src="{% static 'img/imgs/element 1.png' %}" alt="" width="250px">
    </div>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-4">
          
            
            
            <!-- your_reset_confirm_template.html -->
                <h1 class="text-white">Reset your password</h1>
                {% if validlink %}
                    <p class="text-white">Please enter your new password twice:</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                          <div class="input-container m-0 mt-2">
                            <input type="{{ field.field.widget.input_type }}" 
                                  id="{{ field.id_for_label }}" 
                                  name="{{ field.name }}" 
                                  placeholder="{{ field.label }}" 
                                  {% if field.field.required %}required{% endif %} />
                        
                                  <i class="fa fa-eye" 
                                  id="eyebtn{{field.id_for_label}}" 
                                  aria-hidden="true" 
                                  style="position: absolute; top: 30%; right: 15px; cursor: pointer;"></i>
                        </div>
                            {% for error in field.errors %}
                                <p class="m-0 text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <p><input class="w-100 btn btn-dark mt-2" type="submit" value="Change my password" style="background-color: #FF751A; border-radius: 50px; border: none;"></p>
                        
                    </form>
                {% else %}
                    <p class="text-white">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 d-flex align-items-center justify-content-center ">
          <img class="d-none d-lg-block" src="{% static 'img/imgs/element 1.png' %}" alt="" width="350px">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // const eyebtn = document.getElementById("eyebtnid_new_password");
  // const passwordInput = document.getElementById("id_new_password");
  // eyebtn.addEventListener("click", function () {
  //   if (passwordInput.type === "password") {
  //     passwordInput.type = "text";
  //     eyebtn.classList.remove("fa-eye");
  //     eyebtn.classList.add("fa-eye-slash");
  //   } else {
  //     passwordInput.type = "password";
  //     eyebtn.classList.remove("fa-eye-slash");
  //     eyebtn.classList.add("fa-eye");
  //   }
  // });


  const eyebtn2 = document.getElementById("eyebtnid_new_password2");
  const passwordInput2 = document.getElementById("id_new_password2");
  eyebtn2.addEventListener("click", function () {
    if (passwordInput2.type === "password") {
      passwordInput2.type = "text";
      eyebtn2.classList.remove("fa-eye");
      eyebtn2.classList.add("fa-eye-slash");
    } else {
      passwordInput2.type = "password";
      eyebtn2.classList.remove("fa-eye-slash");
      eyebtn2.classList.add("fa-eye");
    }
  });
</script>


{% endblock %}
