{% extends 'main.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block style %}
{% endblock %}

{% block container %}
<div class="login-page">
  <div class="container pt-5">
    <div class="container-1 d-flex align-items-center justify-content-between" style="position: relative;">
      <div class="mesg-container m-0" style="position: absolute;">
        {% include 'inc/message.html' %}
      </div>
      <a href="" class="btn btn-outline-primary float-start"><i class='bx bx-left-arrow-alt'></i></a>
      <img class="d-none d-md-block" src="{% static 'img/imgs/L1.png' %}" alt="" width="200px">
    </div>
  </div>
  <div class="container">
    <div class="container d-lg-none mt-5 d-flex align-items-center justify-content-center ">
      <img src="{% static 'img/imgs/element 1.png' %}" alt="" width="250px">
    </div>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-4">
          
          <h1 class="text-white h1">Forgotten your password?</h1>
          <p class="text-white">Enter your e-mail address to obtain a new password.</p>
          <form action="." method="post">
            {% for field in form %}
            <div class="input-container">
                <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.field.required %}required{% endif %} />
                </div>
            {% endfor %}
              <p><input class="w-100 btn btn-dark" type="submit" value="Send e-mail" style="background-color: #FF751A; border-radius: 50px; border: none;"></p>
              {% csrf_token %}
          </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 d-flex align-items-center justify-content-center ">
          <img class="d-none d-lg-block" src="{% static 'img/imgs/element 1.png' %}" alt="" width="350px">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const eyebtn = document.getElementById("eyebtn");
  const passwordInput = document.querySelector('input[name=password]');
  eyebtn.addEventListener("click", function () {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyebtn.classList.remove("fa-eye-slash");
      eyebtn.classList.add("fa-eye");
    } else {
      passwordInput.type = "password";
      eyebtn.classList.remove("fa-eye");
      eyebtn.classList.add("fa-eye-slash");
    }
  })
</script>
{% endblock %}
