.bxs-check-circle {
    position: relative;
}

.bxs-check-circle-after::after {
    content: "";
    position: absolute;
    bottom: 10px; 
    left:56%; 
    transform: translateX(-50%);
    width: 97%; 
    height: 3px; 
    background: #6c757d; 
}
.section {
    display: none;
}

.section.activate {
    display: block;
}