{% extends 'main.html' %}
{% load static %}

{% block title %}
Add Trainer | Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}

    {% if user.is_superuser %}
    {% include 'inc/sidebar.html' %}
    {% include 'inc/message.html' %}
   
    <h4 class="card-title">Add Trainer</h4>
    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="staticBackdropLabel">Add New Trainer</h5>
            </div>
            <div class="modal-body">
                <div class="row g-3 mt-1">
                    <div class="col-md-4">
                        <label for="trainername" class="form-label text-white">Trainer Name</label>
                        <input type="text" class="form-control text-white bg-dark" id="trainername" name="trainername">
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="form-label text-white">First Name</label>
                        <input type="text" class="form-control text-white bg-dark" id="fname" name="fname">
                    </div>
                    <div class="col-md-4">
                        <label for="lname" class="form-label text-white">Last Name</label>
                        <input type="text" class="form-control text-white bg-dark" id="lname" name="lname">
                    </div>
                </div>
                <div class="row g-3 mt-1">
                    <div class="col-md-4">
                        <label for="mobilenumber" class="form-label text-white">Mobile Number</label>
                        <input type="number" class="form-control bg-dark text-white" id="mobilenumber" name="mobilenumber">
                    </div>
                    <div class="col-md-4">
                        <label for="gmail" class="form-label text-white">Email</label>
                        <input type="email" class="form-control bg-dark text-white" id="gmail" name="gmail">
                    </div>
                    <div class="col-md-4">
                        <label for="Address" class="form-label text-white">Address</label>
                        <input class="form-control bg-dark text-white" type="text" id="Address" name="Address">
                    </div>
                    <div class="col-md-4">
                        <label for="trainerphoto" class="form-label text-white">Trainer Photo</label>
                        <input class="form-control bg-dark text-white" accept="image/*" type="file" id="trainerphoto" name="trainerphoto">
                    </div>
                    <div class="col-md-4">
                        <label for="trainerid" class="form-label text-white">Trainer ID</label>
                        <input type="text" class="form-control text-white bg-dark" id="trainerid" name="trainerid">
                    </div>
                </div>
                <hr class="text-white">
                <p class="m-0 mt-3 p-0 h5 text-white">Education And Qualifications</p>
                <div class="row g-3 mt-1">
                    <div class="col-md-4">
                        <label for="certificateNumber" class="form-label text-white">Certificate Number</label>
                        <input type="number" class="form-control bg-dark text-white" id="certificateNumber" name="certificateNumber">
                    </div>
                    <div class="col-md-4">
                        <label for="certifyingAuthority" class="form-label text-white">Certifying Authority</label>
                        <input type="text" class="form-control bg-dark text-white" id="certifyingAuthority" name="certifyingAuthority">
                    </div>
                    <div class="col-md-4">
                        <label for="certificateValidTill" class="form-label text-white">Certificate Valid Till</label>
                        <input class="form-control bg-dark text-white" type="datetime-local" id="certificateValidTill" name="certificateValidTill">
                    </div>
                    <div class="col-md-4">
                        <label for="Language" class="form-label text-white">Language</label>
                        <select class="form-control bg-dark text-white" name="Language" id="Language">
                            <option>Select Language</option>
                            {% for language in languages %}
                            <option value="{{language.ID}}">{{language.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="level" class="form-label text-white">Level</label>
                        <select class="form-control bg-dark text-white" name="level" id="level">
                            <option>Select Level</option>
                            {% for level in levels %}
                            <option value="{{level.ID}}">{{level.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{% url 'trainers' %}">Close</a>
                <input type="submit" class="btn text-white" style="background-color: #FF751A;" value="Save Trainer">
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}
