{% extends 'main.html' %}
{% load static %}

{% block title %}
Employees page | Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}
    {% include 'inc/sidebar.html' %}
    {% include 'inc/message.html' %}
    <div class="mt-5 py-3 d-flex align-items-center justify-content-between border-bottom">
        <p class="p-0 m-0 fw-bold fs-5">Employees list</p>
        <div class="d-flex align-items-center gap-1">
            {% if all_employees %}
            <a href="{% url 'addemployee' %}" class="btn btn-outline-primary rounded-pill px-4">New Employees</a>
            {% endif %}
            {% if all_employees %}
            <a href="{% url 'addemployee' %}" class="btn btn-outline-secondary rounded-pill px-4">Export Employees</a>
            {% endif %}
        </div>
    </div>
    {% if all_employees %}
    <table class="table border-2 w-100 my-3 rounded">
        <thead class="rounded">
            <tr class="mb-3 rounded">
                <td class="p-2 text-primary">S.No</td>
                <td class="p-2 text-primary">Employee ID</td>
                <td class="p-2 text-primary">Employee Name</td>
                <td class="p-2 text-primary">Employee Email</td>
                <td class="p-2 text-primary">Employee Phone</td>
                <td class="p-2 text-primary">Employee Role</td>
                <td class="p-2 text-primary">Employee Status</td>
            </tr>
        </thead>
        <tbody class="gap-1">
            {% for employee in page_obj %}
            <tr class="mb-3">
                <td class="p-2 mb-3">{{ forloop.counter }}</td>
                <td class="p-2 mb-3"><a href="">{{ employee.employee_ID }}</a></td>
                <td class="p-2 mb-3">{{ employee.name }}</td>
                <td class="p-2 mb-3">{{ employee.email }}</td>
                <td class="p-2 mb-3">+91 {{ employee.phone }}</td>
                <td class="p-2 mb-3">{{ employee.current_role }}</td>
                <td class="p-2 mb-3 w-25">
                  <span class="alert-primary px-3 py-1 rounded-pill">Active</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
        <img src="{% static 'img/imgs/employees.png' %}" alt="" class="w-25 mt-4">
        <a href="{% url 'addemployee' %}" class="btn text-white rounded-pill px-4 mt-2" style="background-color: #FF751A;">Add New Employees</a>
    </div>
    {% endif %}
{% endblock %}
