{% extends 'main.html' %}
{% load static %}

{% block title %}
Home page | Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}
<div class="container">
    {% include 'inc/message.html' %}
</div>

{% if user.is_superuser %}
{% include 'inc/sidebar.html' %}
<!--Container Main start-->

<div class="row">
    <h5 class="mt-3">Dashboard</h5>
</div>
{% include 'inc/adminDashboard.html' %}
{% elif user.is_staff_head %}
{% include 'inc/trainer_head_dashboard.html' %}
{% else %}
<div class="container mt-3">
    <div class="home-nav-barcontainer d-flex p-3">
        <a href="{% url 'home' %}"><img src="{% static 'img/imgs/L1.png' %}" alt="" width="200px"></a>
        <div class="Notifcaions">
            <div class="notify bg-white" style="width: fit-content; border-radius: 10px; padding: 1rem;" type="button"
                class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#{{trainer_qualifications.userid}}{{Trainer_Qualifications.userid}}{{student_details.userid}}">
                <div style="position: relative;">
                    <i class="fa fa-bell fw-bold fs-4"></i>
                    {% if Notifcaions %}
                    <p class="m-0 p-1"
                        style="background-color: rgba(255, 117, 25, 1); width: 5px; height: 5px; border-radius: 50%; position: absolute; top: 0; right: 0; border: 2px solid #FFF;">
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade"
    id="{{trainer_qualifications.userid}}{{Trainer_Qualifications.userid}}{{student_details.userid}}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for Notifcaions in Notifcaions %}
                <p>{{Notifcaions.content}}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="profile-container  container mt-3 mb-3">


    <!-- Modal view batch-->
    <div class="row">
        <style>
            .img-cover {
                object-fit: cover;
                object-position: top;
            }
        </style>
        <div class="col-lg-8">
            <div class="student-details">
                <div class="container-fuild d-flex align-items-center" style="width: 70%;">
                    <div class="profile">
                        <img {% if user.user_img.url is not None %} src="{{ user.user_img.url }}" {% else %}
                            src="{% static 'img/imgs/Ellipse 3.svg' %}" {% endif %} alt="" width="100px" height="100px"
                            class="rounded-circle me-2 img-cover">
                    </div>
                    <div class="profile-name w-100 mt-3">
                        <h3 {% if user.is_staff %} style="line-height: 16px;" {% endif %}>Hi, {{user.name}}</h3>
                        {% if user.is_staff %}
                        <p class="m-0 mb-2">{{trainer_qualifications.LanguageID.Name}} Trainer</p>
                        {% endif %}
                        <div class="today-date d-flex align-items-center">
                            <i class='bx bx-calendar'></i>
                            <p class="m-0" id="currentDate"></p>
                            <p class="m-0"> | </p>
                            <script>
                                var currentDate = new Date();
                                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                                var formattedDate = currentDate.toLocaleDateString('en-US', options);
                                document.getElementById('currentDate').textContent = formattedDate;
                            </script>
                            <p class="m-0" id="currentDay"></p>
                            <script>
                                var currentDate = new Date();
                                var daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                                var currentDayIndex = currentDate.getDay();
                                var currentDayName = daysOfWeek[currentDayIndex];
                                document.getElementById('currentDay').textContent = currentDayName;
                            </script>

                        </div>
                    </div>
                </div>
                <div class="get-certifite mt-3">
                    <p>
                        {% if user.is_staff %}
                        Trainer ID : {{trainer_qualifications.userid}}{{Trainer_Qualifications.userid}}
                        {% else %}
                        Student ID : {{student_details.userid}}
                        {% endif %}
                    </p>

                    {% if user.is_staff %}
                    {% if Training_Batches %}
                    <button style="color:#FF751A;" type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#updatebatch{{trainer_qualifications.userid}}">Update batch</button>
                    {% if user.is_staff %}
                    <div class="modal fade" id="updatebatch{{trainer_qualifications.userid}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{Training_Batches}} |
                                        {{Training_Batches.Course_details}} -
                                        {{Training_Batches.Course_details.LevelID}} (
                                        {{Training_Batches.Course_details.LevelID.Code}} ) </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col-12 mb-3">
                                                <label for="Class_completed">Class completed</label>
                                                <input class="form-control mt-2" type="number" name="Class_completed"
                                                    id="Class_completed"
                                                    value="{{ Training_Batches.Course_details.Course_status }}">
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label for="Study_Material">Study Material (PDF)</label>
                                                <input type="file" class="form-control mt-2" accept=".pdf"
                                                    name="Study_Material" id="Study_Material">
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label for="Recorded_Session">Recorded Session (MP4)</label>
                                                <input type="file" class="form-control mt-2" accept=".mp4"
                                                    name="Recorded_Session" id="Recorded_Session">
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label for="Assessment">Assessment (PDF)</label>
                                                <input type="file" class="form-control mt-2" accept=".pdf"
                                                    name="Assessment" id="Assessment">
                                            </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'logout' %}" style="color:#FF751A;" type="button" class="btn btn-dark px-5">Log
                        out</a>
                    {% endif %}
                    {% else %}
                    {% if training_batches.Course_details.Course_status == 100 %}
                    <a href="{% if  student_details.certificate %} {{ student_details.certificate.url }} {% endif %}" class="btn btn-dark"><i class='bx bx-download mr-3'></i> Get Certificate</a>
                    {% else %}
                    <a href="#" class="btn btn-dark" type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#getnotacertificate"><i class='bx bx-download mr-3'></i> Get Certificate</a>
                    <!-- Modal -->
                    <div class="modal fade" id="getnotacertificate" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Alert Message</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p style="color: #FF751A;">Sorry, please complete the course after you receive a certificate.</p style="color: #FF751A;">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 mt-3 mt-lg-0 d-lg-none">
                <div class="course-full-container container bg-dark">
                    <div class="container-fuild">
                        <div class="course-details">
                            <div class="">
                                <h1 class="text-white">
                                    {% if user.is_staff %}
                                    Batch 20
                                    {% else %}
                                    {{course_details.Name}} - {{level.Code}}
                                    {% endif %}
                                </h1>
                                <p class="m-0 text-white">Batch ID : BTA2023</p>
                            </div>

                            <div class="course-progress-container mt-3">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: {{course_details.Course_status}}%; height: 10px; background-color: #FF751A;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="progress-value d-flex justify-content-between">
                                    <p class="text-white">
                                        {% if user.is_staff %}
                                        Class completed
                                        {% else %}
                                        Class progress
                                        {% endif %}
                                    </p>
                                    <span class="text-white">{{course_details.Course_status}} / 100</span>
                                </div>
                            </div>
                        </div>
                        <div class="course-details-rainers mt-4">
                            <p class="m-0 text-white"><span class="letter-orange">Duration </span>:
                                {{Training_batch.Course_details.StartDate |date:"d-m-Y" }} -
                                {{course_details.EndtDate|date:"d-m-Y" }}</p>
                            <p class="m-0 text-white"><span class="letter-orange">Session Time </span>:
                                {{course_details.StartTime|time:"g.i A" }} - {{ course_details.EndTime|time:"g.i A" }}
                            </p>
                            {% if user.role_id == "Student" %}
                            <p class="m-0 text-white"><span class="letter-orange">Trainer </span>: Manoj Kumar</p>
                            {% endif %}
                        </div>
                        <div class="buttons mt-5 d-flex align-items-center justify-content-between">
                            {% if user.is_staff %}
                            <a href="#">Start Class</a>
                            {% else %}
                            <input type="submit" class="btn btn-primary" value="Submit">
                            <a href="" target="_blank">Join Class</a>
                            {% endif %}
                            {% if user.is_staff %}
                            <a href="">End Class</a>
                            {% else %}
                            <a href="{% url 'logout' %}" class="logout">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-card">
                <div class="row">

                    {% if user.is_staff %}
                    <div class="col-12">
                        <div class="container-fuild mt-3 d-block align-items-center"
                            style="background-color:#F0F0F0; border-radius: 20px; padding: 40px;">
                            <div class="contant" style="width: fit-content;">
                                <h3 class="h3">All Batch...</h3>
                            </div>
                            <div class="upcomming-batch-container mt-4 d-block d-lg-flex align-items-center"
                                style="flex-wrap: wrap;">
                                {% for Training_batch in training_batchess %}
                                <a href="{% url 'batches' id=Training_batch.pk %}"
                                    style="text-decoration: none; margin: 5px;">
                                    <p class="m-0 p-4"
                                        style="background-color: #DFDFDF; padding: 10px 20px; border-radius: 20px;">
                                        {{Training_batch.Name}}
                                    </p>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4 d-flex align-items-center justify-content-center">
                        <a href="{{training_batches.Course_details.Course_metirials.url}}"
                            style="width: 100%; text-decoration: none;" target="_blank">
                            <div class="container-fuild mt-3 d-flex d-lg-block align-items-center">
                                <div class="contant bg-dark">
                                    <img src="{% static 'img/imgs/Book.svg' %}" alt="">
                                </div>
                                <p class="m-3 m-lg-0">Study Material</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4  d-flex align-items-center justify-content-center">
                        <a href="{{training_batches.Course_details.Assessment.url}}"
                            style="width: 100%; text-decoration: none;" target="_blank">
                            <div class="container-fuild mt-3 d-flex d-lg-block align-items-center">
                                <div class="contant bg-dark">
                                    <img src="{% static 'img/imgs/Pen.svg' %}" alt="">
                                </div>
                                <p class="m-3 m-lg-0">Assessment</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4  d-flex align-items-center justify-content-center">
                        <a href="{{training_batches.Course_details.Recorded_Session.url}}"
                            style="width: 100%; text-decoration: none;" target="_blank">
                            <div class="container-fuild mt-3 d-flex d-lg-block align-items-center">
                                <div class="contant bg-dark">
                                    <img src="{% static 'img/imgs/Youtube.svg' %}" alt="">
                                </div>
                                <p class="m-3 m-lg-0">Recorded Session</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-3 mt-lg-0 d-none d-lg-block">
            <div class="course-full-container 
            {% if Training_Batches or training_batches %}
            container
            {% else %}
            
            {%  endif %} bgdark h-100">
                {% if Training_Batches or training_batches %}
                <form action="">
                    <div class="container-fuild">
                        <div class="course-details">
                            <div class="">
                                <h1 class="fs-3 mb-4" style="color: #FF751A;">
                                    {% if user.is_staff %}
                                    {{Training_Batches.Name}}
                                    {% else %}
                                    {{training_batches.Course_details.Name}} -
                                    {{training_batches.Course_details.LevelID.Code}}
                                    {% endif %}
                                </h1>
                                {% if user.is_staff %}
                                <p class="m-0 text-white">Batch ID : {{today_first_batch.ID}}{{Training_Batches.ID}}</p>
                                <p class="m-0 text-white">Language :
                                    {{today_first_batch.Course_details.LanguageID.Name}}{{Training_Batches.Course_details.LanguageID.Name}}
                                </p>
                                {% endif %}
                            </div>

                            <div class="course-progress-container mt-3">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: {{today_first_batch.Course_details.Course_status}}{{Training_Batches.Course_details.Course_status}}{{training_batches.Course_details.Course_status}}%; height: 10px; background-color: #FF751A;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="progress-value d-flex justify-content-between">
                                    <p class="text-white">
                                        {% if user.is_staff %}
                                        Class completed
                                        {% else %}
                                        Class progress
                                        {% endif %}
                                    </p>
                                    <span
                                        class="text-white">{{today_first_batch.Course_details.Course_status}}{{Training_Batches.Course_details.Course_status}}{{training_batches.Course_details.Course_status}}
                                        / 100</span>
                                </div>
                            </div>
                        </div>
                        <div class="course-details-rainers mt-4">
                            <p class="m-0 text-white"><span class="letter-orange">Duration </span>:
                                {% if Training_Batches %}
                                {{Training_Batches.Course_details.StartDate|date:"d-m-Y" }} -
                                {{Training_Batches.Course_details.EndtDate|date:"d-m-Y"}}
                                {% else %}
                                {{training_batches.Course_details.StartDate|date:"d-m-Y"}} -
                                {{training_batches.Course_details.EndtDate|date:"d-m-Y"}}
                                {% endif %}
                            </p>
                            <p class="m-0 text-white"><span class="letter-orange">Session Time </span>:
                                {% if Training_Batches %}
                                {{Training_Batches.Course_details.StartTime}} -
                                {{Training_Batches.Course_details.EndTime}}
                                {% else %}
                                {{training_batches.Course_details.StartTime}} -
                                {{training_batches.Course_details.EndTime}}
                                {% endif %}
                            </p>

                            {% if user.is_staff %}
                            {% if Training_Batches.Course_details.class_active %}
                            <a href="{{Training_Batches.Course_details.Course_link}}" target="_blank"
                                class="btn alert-primary mt-3 w-100">Join Class</a>
                            {% endif %}
                            {% else %}
                            <p class="m-0 text-white"><span class="letter-orange">Trainer </span>:
                                {{training_batches.TrainerId.Name}}</p>
                            {% endif %}
                        </div>
                        <div class="buttons
                        {% if Training_Batches.Course_details.class_active %}
                        mt-3
                        {% else %}
                        mt-5
                        {% endif %}
                        d-flex align-items-center justify-content-between">
                            {% if request.path == '/crm/home' %}
                            <a href="#" class="btn btn-dark"
                                style="color: #FFF; background-color:#FF751A; border-radius: 20px;">Ready to start
                                class</a>
                            <a href="{% url 'logout' %}" class="logout btn btn-dark"
                                style="color: #FF751A; background-color:#FFF; border-radius: 20px;">Logout</a>
                            {% else %}
                            {% if user.is_staff %}
                            {% if Training_Batches.Course_details.class_active %}
                            <a
                                href="{% url 'endclass' id=Training_Batches.ID classid=Training_Batches.Course_details.ID %}">End
                                Class</a>
                            {% else %}
                            <a
                                href="{% url 'start_class' id=Training_Batches.ID classid=Training_Batches.Course_details.ID %}">Start
                                Class</a>
                            {% endif %}
                            {% else %}
                            <a href="{% if training_batches.Course_details.class_active %}{{training_batches.Course_details.Course_link}} "
                                target="_blank {% endif %}">Join Class</a>
                            {% endif %}
                            <a href="{% url 'logout' %}" class="logout">Log out</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="w-100 h-100  align-items-center justify-content">
                    <img src="{% static 'img/imgs/select_course_404.jpg' %}" width="100%" alt="">
                    <p>Select Batch</p>
                </div>
                {% endif %}
            </div>

        </div>
        <script>

            // ---------------------------------------------
            // View Notification ---------------------------
            // ---------------------------------------------

            const mss_box = document.getElementById('msg-icon');
            const close_btn = document.getElementById('close-icon');
            const msg_container = document.getElementById('msg-container');
            mss_box.addEventListener("click", () => {
                msg_container.classList.remove("msg-box-open");
            });
            close_btn.addEventListener("click", () => {
                msg_container.classList.add("msg-box-open");
            })

            // ---------------------------------------------
            // View Batch ----------------------------------
            // ---------------------------------------------

            const View_btn = document.getElementById('view-batch-btn');
            const close_btn_2 = document.getElementById('close_btn_2');
            const View_container = document.getElementById('view-batch-container');
            View_btn.addEventListener("click", () => {
                View_container.classList.remove("msg-box-open");
            });
            close_btn_2.addEventListener("click", () => {
                View_container.classList.add("msg-box-open");
            })

        </script>
    </div>
</div>
{% endif %}

{% endblock %}