{% extends 'main.html' %}
{% load static %}

{% block title %}
{% if get_data %}
Edit {{get_data.Name}}
{% else %}
Role and Language page 
{% endif %}
| Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}
    {% if user.is_superuser %}
        {% include 'inc/sidebar.html' %}
        <div class="container-fluid  mt-3">
            {% include 'inc/message.html' %}
        </div>
        <div class="container-flui  mt-3">
            
            <div class="container-fluid bg-dark p-4 p-md-5 mt-3 dev-close {{showlangcontainer}}" style="border-radius: 5px;">
                <div class="container-fluid1">
                    <h3 class="p-0 m-0 text-primary">Change {{get_data.Name}}</h3>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 mt-3">
                                <label for="role-name" class="form-label text-white">Language</label>
                                <input type="text" class="form-control text-white bg-dark" id="role-name" name="RoleName" value="{{get_data.Name}}">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label for="" class="form-label text-white">CreatedBy</label>
                                <input type="text" class="form-control text-white bg-dark" id="" readonly value="{{get_data.CreatedBy}}">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label for="" class="form-label text-white">CreatedDate</label>
                                <input type="datetime" class="form-control text-white bg-dark" id="" readonly value="{{get_data.CreatedDate}}">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label for="" class="form-label text-white">UpdatedBy</label>
                                <input type="text" class="form-control text-white bg-dark" id="" readonly value="{{get_data.UpdatedBy}}">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label for="" class="form-label text-white">UpdatedDate</label>
                                <input type="text" class="form-control text-white bg-dark" id="" readonly value="{{get_data.UpdatedDate}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn text-white mt-3" style="background-color: #FF751A;" value="Save changes">
                        </div>
                    </form>
                </div>
                <form >
                    <div class="row g-3 mt-1">
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>
            <div class="row g-3 h-100 mt-1">
                <div class="col-md-6  mt-3 d-flex flex-column">
                    <div class="card h-100">
                        <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                            <h3 class="card-title text-white">Languages</h3>
                            <p class="card-text text-white">View and manage languages available on this platform.</p>
                            {% for language in languages%}
                            <a href="{% url 'edit_lang' id=language.ID %}" class="">{{language.Name}}</a><br>
                            {% endfor %}
                            <form method="POST" class="dev-close {{showcontainer}}" action="{% url 'add_language' %}">
                                {% csrf_token %}
                                <div class="container-fluid1">
                                    <hr class="text-white">
                                    <h3 class="card-title text-white">Add Language</h3>
                                    <div class="row g-3 mt-1">
                                        <div class="col-8">
                                        <label for="Language" class="form-label text-white">Language Name <span class="text-danger">*</span></label>
                                        <div style="position: relative;">
                                            <input type="text" class="form-control bg-dark text-white" name="language" id="Language">
                                        </div>
                                        </div> 
                                    </div>
                                </div>
                                <input type="submit" class="btn text-white mt-3" style="background-color: #FF751A;" value="Save Language">
                            </form>
                            <a href="{% url 'language' %}" class="btn btn text-white mt-3" style="background-color: #FF751A;">Add Language</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    {% endif %}
{% endblock %}