{% extends 'main.html' %}
{% load static %}
{% block title %}
Trainers List | Inlingua
{% endblock %}

{% block style %}
{% endblock %}

{% block container%}
{% include 'inc/sidebar.html' %}
<div style="position: relative;" class="mx-1">
    {% include 'inc/message.html' %}
  </div>
<div class="mt-5 py-3 d-flex align-items-center justify-content-between border-bottom">
    <h4 class="fs-5 fw-bold">Trainers</h4>
    <div class="d-flex align-items-center gap-1">  
        <a href="{% url 'addtrainers' %}" class="btn btn-outline-primary rounded-pill px-4">Add Trainer</a>
    </div>
</div>
{% if True %}
        <div class="row mb-1 mx-1">
            <div class="col-2 text-truncate bg-primary p-2 text-white">
              <div class="row">
                  <div class="col-3">
                      S.NO
                  </div>
                  <div class="col-9">
                      Trainer ID
                 </div>
              </div>
            </div>

                 <div class="col-2 text-truncate bg-primary p-2 text-white">
                   Trainer Name
                 </div>
                <div class="col-2 text-truncate bg-primary p-2 text-white">
                Trainer E-Mail
                </div>
                <div class="col-2 text-truncate bg-primary p-2 text-white">
                Phone Number
                </div>
                <div class="col-2 text-truncate bg-primary p-2 text-white">
                Trainer Language
                </div>
                <div class="col-2 text-truncate bg-primary p-2 text-white">
                Trainer Status
                </div>
              </div>
            
              {% if page_obj_trainer %}
              {% for trainer in page_obj_trainer %}
              <div class="row mb-1 mx-1" style="background-color: rgb(238, 238, 238);">
                <div class="col-2 text-truncate p-2" >
                  <div class="row">
                      <div class="col-3">
                        {{ forloop.counter }}
                      </div>
                      <div class="col-9">
                        {{ trainer.Trainer_ID }}
                      </div>
                  </div>
                </div>
                <div class="col-2 text-truncate p-2">
                    {{ trainer.trainer_name }}
                </div>
                <div class="col-2 text-truncate p-2">
                    {{ trainer.trainer_mail }}
                </div>
                <div class="col-2 text-truncate p-2">
                    +91 {{ trainer.trainer_phone }}
                </div>
                <div class="col-2 text-truncate p-2">
                    {{ trainer.trainer_languages }}
                </div>
                <div class="col-2 text-truncate p-2">
                  <a href="#">
                    <span class="alert-primary px-3 py-1 rounded-pill">Active</span></a>
                </div>
              </div>
              {% endfor %}
              {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj_trainer.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for num in page_obj_trainer.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj_trainer.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
        <img src="{% static 'img/imgs/trainer_logo.png' %}" alt="" class="w-25 mt-4">
        <a href="{% url 'addtrainers' %}" class="btn text-white rounded-pill px-4 mt-2" style="background-color: #FF751A;">Add New Trainer</a>
    </div>
    {% endif %}
{% endblock %}