{% extends 'main.html' %}
{% load static %}
{% block title %}
Trainers List | Inlingua
{% endblock %}

{% block style %}
{% endblock %}

{% block container%}
{% include 'inc/sidebar.html' %}

<div class="mt-5 py-3 d-flex align-items-center justify-content-between border-bottom">
    <h4>Trainers</h4>
    <div class="d-flex align-items-center gap-1">  
        <a href="{% url 'addtrainers' %}" class="btn btn-outline-primary rounded-pill px-4">Add Trainer</a>
    </div>
</div>
<table class="table border-2 w-100 my-3 rounded">
    <thead class="rounded">
        <tr class="mb-3 rounded">
            <td class="p-2 text-primary">S.No</td>
            <td class="p-2 text-primary">Trainer ID</td>
            <td class="p-2 text-primary">Trainer Name</td>
            <td class="p-2 text-primary">Trainer Email</td>
            <td class="p-2 text-primary">Trainer Phone</td>
            <td class="p-2 text-primary">Language</td>
        </tr>
    </thead>
    <tbody class="gap-1">
        {% for trainers in PagObj %}
        <tr class="mb-3">
            <td class="p-2 mb-3">{forloop.counter}</td>
            <td class="p-2 mb-3">{trainers.employee_ID}</td>
            <td class="p-2 mb-3">{trainers.trainer_name_mod}</td>
            <td class="p-2 mb-3">{trainers.trainer_mail_mod}</td>
            <td class="p-2 mb-3">{trainers.trainer_phone_mod}</td>
            <td class="p-2 mb-3">{trainers.trainer_languages_mod}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}