{% extends 'main.html' %}
{% load static %}

{% block title %}
Student page | Inlingua
{% endblock %}
{% block style %}
{% endblock %}
{% block container %}
    {% include 'inc/sidebar.html' %}
    <div style="position: relative;" class="mx-1">
      {% include 'inc/message.html' %}
    </div>
    <div class="mt-5 py-3 d-flex align-items-center justify-content-between border-bottom">
        <h4 class="fw-bold fs-5">Students</h4>
        <div class="d-flex align-items-center gap-1">
            
            <a href="{% url 'addstudent' %}" class="btn btn-outline-primary rounded-pill px-4">New Student</a>
            
            <a href="" class="btn btn-outline-secondary rounded-pill px-4">Import Students</a>
            {% if page_obj %}
            <a href="" class="btn btn-outline-secondary rounded-pill px-4">Export Students</a>
            {% endif %}
        </div>
    </div>
    <div class="">
        <div class="row mb-1 mx-1">
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            <div class="row">
                <div class="col-3">
                    S.NO
                </div>
                <div class="col-9">
                    Student ID
                </div>
            </div>
          </div>
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            Student Name
          </div>
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            Language & Level
          </div>
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            Student Email
          </div>
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            Mobile Number
          </div>
          <div class="col-2 text-truncate bg-primary p-2 text-white">
            Status & Action
          </div>
        </div>
        {% if page_obj %}
        {% for student in page_obj %}
        <div class="row mb-1 mx-1" style="background-color: rgb(238, 238, 238);">
          <div class="col-2 text-truncate p-2" >
            <div class="row">
                <div class="col-3">
                    {{forloop.counter}}
                </div>
                <div class="col-9">
                    {{student.Student_ID}}
                </div>
            </div>
          </div>
          <div class="col-2 text-truncate p-2">
            {{student.Student_Name}}
          </div>
          <div class="col-2 text-truncate p-2">
            {{student.Language_Name}} {{student.Level_and_Hour}}
          </div>
          <div class="col-2 text-truncate p-2">
            {{student.Student_Mail_Id}}
          </div>
          <div class="col-2 text-truncate p-2">
            +91 {{student.Student_Phone_No}}
          </div>
          <div class="col-2 text-truncate p-2">
            <a href="">
            <span class="px-3 py-1 rounded-pill
            {% if student.status == 'New Student' %}
            alert-primary
            {% elif student.status == 'Verified' %}
            alert-success
            {% elif student.status == 'Batch Allocated' %}
            alert-warning
            {% elif student.status == 'Waiting for Assessment' %}
            alert-info
            {% elif student.status == 'Course Completed' %}
            alert-danger
            {% endif %}
            ">{{ student.status }} & Update</span></a>
          </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end mt-2">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
              </li>
              {% endif %}
          </ul>
      </nav>
        {% else %}
        <div class="row mb-1 mx-1">
          <div class="col-12 border d-flex flex-column align-items-center py-3">
            <img src="{% static 'img/imgs/Student_creation.png' %}" alt="" class="w-25">
            <p class="text-center p-0 m-0 p-2 fs-5 fw-bold">No Students List, Create (or) Import Studens</p>
          </div>
        </div>
        {% endif %}
      </div>
{% endblock %}
